* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: segoe ui;
}

@font-face {
	font-family: itim;
	src: url(Itim-Regular.ttf) format("ttf");
}

.wrapper {
	width: 100%;
	background-color: #F1F1F7;
}

.wrapper .content .top {
	width: 100%;
	height: 90px;
	background-color: #206a5d;
	display: flex;
	box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.3)
}

.top .logo {
	margin: auto 20px;
	font-size: 50px;
	text-transform: uppercase;
	font-family: "amaticSC";
	color: white;
}

.search {
	width: 80%;
	height: 100%;
	margin-right: 10px;
}

.search-box input {
	position: relative;
	width: 100%;
	font-size: 20px;
	padding: 10px 15px 10px 60px;
	border-radius: 40px;
	margin: 20px 0;
	outline: none;
	border: 3px solid #354f52;
}

.search-box a img {
	position: absolute;
	width: 40px;
	height:40px;
	top: 26px;
	left: 155px;
	border-right: 2px solid #D6DAE6;
	padding: 8px;
}

.account {
	margin: 30px 10px;
}

.account a img{
	width: 30px;
	height: 30px;
}

.cart {
	margin: 30px 15px;
}

.cart a img{
	width: 30px;
	height: 30px;
}

.banner	{
	width: 100%;
	height: 500px;
	position: relative;
	background-image: url(img-raw/market.jpg);
	background-size: cover;
	background-position: center;
	box-shadow: inset 0 -10px 200px 200px rgba(0,0,0,.8), inset 0 -10px 150px 100px rgba(0,0,0,.5);
}

.banner a h1{
	position: absolute;
	font-family: segoe ui;
	top: 30%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: #f5f5f5;
	font-size: 80px;
	margin: auto;
	text-transform: uppercase;
	font-weight: 400;
	border-radius: 50px;
	padding: 5px 20px;
	font-weight: 600;
}

.banner .reg {
	display: flex;
	justify-content: space-around;
	margin: auto;
}

.reg .b-join {
	position: absolute;
	top: 55%;
	left: 35%;
	font-size: 20px;
	
}

.reg .b-join a {
	color: #cad2c5;
	text-decoration: none;
	border: 2px solid #52796f;
	border-radius: 5px;
	padding: 5px 50px;
	width: 50px;
	transition: .2s ease-out;
	background-color: rgba(82, 121, 111,.3);
}

.reg .b-join a:hover {
	background-color: rgba(82, 121, 111,.9);
	width: 60px;
	border-radius: 30px;
}

.reg .b-signin {
	position: absolute;
	top: 55%;
	right: 35%;
	font-size: 20px;
	
}

.reg .b-signin a {
	color: #cad2c5;
	text-decoration: none;
	border: 2px solid #52796f;
	border-radius: 5px;
	padding: 5px 50px;
	width: 50px;
	transition: .2s ease-out;
	background-color: rgba(82, 121, 111,.3);
}

.reg .b-signin a:hover {
	background-color: rgba(82, 121, 111,.9);
	width: 60px;
	border-radius: 30px;
}

hr {
	margin: 50px 80px 60px 80px;
	border-top: 2px solid #D6DAE6;
}

.category {
	
	width: 90%;
	height: 280px;
	margin: 50px auto;
	background-color: #FAFEFB;
}

.category .c-header {
	box-sizing: border-box;
	padding: 20px;
	font-size: 25px;
	border-bottom: 2px solid #E9E9E9;
}

.category .cat-field {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.category .c-items {
	width: 120px;
	height: 120px;
	margin: 20px 10px;
	border-radius: 80px;
	transition: .2s ease-out;
	position: relative;
	box-shadow: 0 2px 5px 2px rgba(0,0,0,.5)
}


.category #elektronik {
	background-image: url(img-raw/elektronik.jpg);
	background-size: cover;
	background-position: center;
}

.category #pakaian {
	background-image: url(img-raw/pakaian.jpg);
	background-size: cover;
	background-position: center;
}

.category #p-rumah {
	background-image: url(img-raw/perlengkapan-rumah.jpg);
	background-size: cover;
	background-position: center;
}

.category #makanan {
	background-image: url(img-raw/makanan.jpg);
	background-size: cover;
	background-position: center;
}

.category #perawatan {
	background-image: url(img-raw/perawatan.jpg);
	background-size: cover;
	background-position: center;
}

.category #kesehatan {
	background-image: url(img-raw/kesehatan.jpg);
	background-size: cover;
	background-position: center;
}

.category #stationery {
	background-image: url(img-raw/stationery.jpg);
	background-size: cover;
	background-position: center;
}

.category #anime {
	background-image: url(img-raw/anime.jpg);
	background-size: cover;
	background-position: center;
}

.c-items p {
	margin: 120px 0;
	text-align: center;
}

.c-items a {
	width: 100%;
	height: 100%;
	position: absolute;
}

.product {
	width: 90%;
	margin: 60px auto;
	box-sizing: border-box;
	background-color: #FAFEFB;
}

.product .flash-sale {
	width: 100%;
	background-color: #32856F;
	border-radius: 20px;
}

.flash-sale .f-sale-header {
	box-sizing: border-box;
	padding: 20px;
	font-size: 25px;
	border-bottom: 2px solid #E9E9E9;
	color: #E9E9E9;
	display: flex;
	justify-content: space-between;
}

.flash-sale .f-sale-header a {
	text-decoration: none;
	color: #E9E9E9;
	font-size: 16px;
}

.flash-sale .product-field {
	width: 90%;
	height: 100%;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	margin: 50px 50px 0 ;
}

.flash-sale .product-field .box {
	display: block;
	width: 240px;
	height: 350px;
	padding: 5px;
	margin: 10px 5px 50px;
	text-decoration: none;
	color: black;
	background-color: #E9E9E9;
	border: 2px solid #EEF4F2;
	border-radius: 10px;
	box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.product-field .box img {
	width: 100%;
	height: 200px;
}

.product-field .box #p-judul{
	font-size: 14px;
}

.product-field .box #p-harga{
	font-size: 16px;
	margin: 5px 0;
	color: #206a5d;
	font-weight: 700;
}

.product-field .box #potong-harga {
	font-size: 14px;
	margin: 5px 0;
	color: #206a5d;
	text-decoration: line-through;
}


/*Footer*/

.footer {
	width: 100%;
	height: 65vh;
	background-color: #1b1c25;
	display: flex;
	justify-content: center;
	box-shadow: 0 -5px 10px rgba(0,0,0,.5);
	position: relative;
	bottom: 0;
}

.f-items {
	list-style: none;
	color: #ebecf1;
	width: 15%;
	height: 250px;
	margin: 50px 0 0 50px;
	text-align: center;
	margin-top: 8%;
}

.f-items a {
	text-decoration: none;
	color: #ebecf1;
	font-size: 16px;
	font-weight: 300;
	letter-spacing: 2px;
	text-transform: uppercase;
	line-height: 35px;
}

.f-social {
	width: 400px;
	height: 50px;
	display: flex;
	justify-content: center;
	position: absolute;
	top: 65%;
	left: 500px;
}

.f-social a img {
	width: 45px;
	height: 45px;
	padding: 10px;
	margin: 0 10px;
	border: 1px solid #ebecf1;
}

.f-link {
	position: absolute;
	bottom: 30px;
	width: 500px;
	height: 20px;
	display: flex;
	justify-content: center;
	left: 450px;
	top: 80%

}

.f-link a {
	font-size: 8px;
	margin-right: 10px;
}

