* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: segoe ui;
}

@font-face {
	font-family: itim;
	src: url(Itim-Regular.ttf) format("ttf");
}

body {
	background-color: #F1F1F7;
}

.wrapper {
	width: 100%;
}

.wrapper .content .top {
	width: 100%;
	height: 90px;
	background-color: #52796f;
	display: flex;
	box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.3)
}

.content {
	width: 100%;
}

.top .logo {
	margin: auto 20px;
	font-size: 50px;
	text-transform: uppercase;
	font-family: "amaticSC";
	color: white;
}

.search {
	width: 80%;
	height: 100%;
	margin-right: 10px;
}

.search-box input {
	position: relative;
	width: 100%;
	font-size: 20px;
	padding: 10px 15px 10px 60px;
	border-radius: 40px;
	margin: 20px 0;
	outline: none;
	border: 3px solid #354f52;
}

.search-box a img {
	position: absolute;
	width: 40px;
	height:40px;
	top: 26px;
	left: 155px;
	border-right: 2px solid #D6DAE6;
	padding: 8px;
}

.account {
	margin: 30px 10px;
}

.account a img{
	width: 30px;
	height: 30px;
}

.cart {
	margin: 30px 15px;
}

.cart a img{
	width: 30px;
	height: 30px;
}

.empty {
	width: 100%;
	height: 700px;
}

.empty .cart-i {
	width: 100%;
	height: 100%;
	position: relative;
}

.empty .cart-i img {
	width: 50%;
	height: 450px;
	position: absolute;
	top: 100px;
	left: 50%;
	transform: translateX(-50%);

}

.empty p {
	text-align: center;
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translateX(-50%);
	font-family: segoe ui;
	font-size: 28px;
	font-weight: 500;
	text-transform: uppercase;
	color: #354f52;
}

.login {
	width: 40%;
	height: 200px;
	margin: 10px auto;
	text-align: center;
}

.login input {
	margin: 20px auto;
	width: 120px;
	padding: 6px 0;
	font-size: 18px;
}